/* Para comentar*/
.contenedor-logo{
    width: auto;
    height: 100px;
}
.logo{
    margin:2%;
}
.contenedor-encriptado{
    width: auto;
    height: 775px;
    background-color: red;
}
.imagen-texto{
 display: none;
}