/* Para comentar*/
.contenedor-logo{
    width: 100vw;
    height: 15vh;
}
.logo{
    margin:2%;
}
.contenedor-textos{
    width: 100vw;
    height: 65vh;
}
.input-texto{
    width: 30%;
    height: 80%;
    margin: 5% 20% 0% 25%;
    border: none;
    color: #0A3871;
    font-weight: bold;
    font-size: 2em;
}
.texto-mostrado{
    position: relative;
    width: 20%;
    height: 80%;
    border: none;
    color: #0A3871;
    font-weight: bold;
    font-size: 2em;
}
::placeholder{
    color: #0A3871;
    font-weight: bold;
    font-size: 1em;
}
.contenedor-botones{
    width: 100vw;
    height: 10vh;
}
.boton-encriptar{
    width: 10%;
    height: 50%;
    margin-top: 1%;
    margin-left: 27%;
    background: #0A3871;
    border-radius: 24px;
    color: white;
}
.boton-desencriptar{
    width: 10%;
    height: 50%;
    margin-top: 1%;
    margin-left: 6%;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
}
.boton-copiar{
    display: none;
    width: 10%;
    height: 50%;
    margin-top: 1%;
    margin-left: 27.5%;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
}
footer{
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding: 1%;
    color: #0A3871;
}